*{
    box-sizing: border-box;
    margin:0;
    font-weight: bolder;
}

#app{
    text-align: center;
}

#root{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_North_Macedonia.svg/1200px-Flag_of_North_Macedonia.svg.png");
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.weather div {
    margin: 50px 0px;
    padding: 20px 0px;
}

#root #app .weather div:nth-of-type(1) {
    text-align: center;
}

#root #app .weather div:nth-of-type(2) {
    text-align: end;
}

#root #app .weather div:nth-of-type(3) {
    text-align: start;
}



